#app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row; /*para que os componentes fiquem um ao lado do outro*/
    align-items: flex-start; /*para que fiquem alinhados ao topo*/

}